.container {
    margin-top: 80px;
}
.navbar {
    background-color: #EDE9DD;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
    padding: 0;
}

.nav-btn {
    background-color: #CFCAB2; /* Default button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-btn:hover {
    background-color: #B8B29E; /* Slightly darker green on hover */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.nav-btn.active {
    background-color: #8C9474; /* Highlight color for active page */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
