body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('circle.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px; /* To ensure content doesn't overlap with navbar */
}

.navbar {
    background-color: #EDE9DD;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.navbar .active, .navbar li:hover {
    background-color: #CFCAB2;
}

.header {
    background-color: #8C9474;
    width: 80%;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}
