*{

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.container{

    display: flex;
    width: 100vw;
    height: 100vh;
}

.habitsMetrics{

    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 100%;
    background-color: rgb(255, 251, 240);

}
#habits{

    text-align: center;
    width: 30%;
    height: 100%;
    background-color: rgb(177, 194, 158);

}
#metrics{

    text-align: center;
    width: 30%;
    height: 100%;
    background-color:rgb(101, 146, 135);

}
.journalSection{

    display: grid;
    place-items: center; 
    text-align: center;
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 230, 169);

}
.journalBox {
    width: 60%;  /* Adjust size as needed */
    height: 40%;
    background-color: rgb(255, 251, 240);
    position: relative;
    z-index: 10;
    padding: 10px;
    text-align: center;
}