* {

padding: 20px;


}

#loginbox {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #e5e5f7;
}

#background {

    background-color: bisque;

}

#inputbox {
    background-color: #e5e5f7;
    display: flex;
    padding: 10px;
}


#loginButton {

    line-height: normal;
    display: inline-block;
    margin: 0;
    min-height: 20px;
    min-width: 0;
    padding: 8px 12px;
    text-align: center;
    width: 25%;
  }

h1{

color:blueviolet;

}